<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css" />

<html>
<title>have my babies!</title>
<style>
body {
        background: #90e3ff;
        font: 13px 'Lucida sans', Arial, Helvetica;
        color: #eee;
        text-align: center;
    }
    
    a {
        color: #ccc;
    }
</style>

<br></br>
<img src ="static/logo.png">

<form class="form-wrapper cf">
		<input type="text" placeholder="Search for a celeb here..." required>
		<button type="submit">have my babies!</button>
</form>


<footer>
	Lisa Li, Alex Orth, Daria Jung for hackNY 2012 fall.
</footer>
</html>
